@import "/src/styles/mixin";

.h4 {
  color: black;
  font-size: rem(28px);
  font-weight: 500;
  line-height: rem(39.2px);
  letter-spacing: rem(-0.56px);
}
.ex {
  color: #a72b2a;
  font-size: rem(18px);
  line-height: rem(28.8px);
  letter-spacing: rem(-0.18px);
  white-space: pre-line;
}
.ex_s {
  color: #a72b2a;
  font-size: rem(14px);
  line-height: rem(19.6px);
  letter-spacing: rem(-0.14px);
}
.text {
  color: black;
  font-size: rem(20px);
  font-weight: 500;
  line-height: rem(36px);
  letter-spacing: rem(-0.4px);
}
