@import "/src/styles/mixin";

$header-height: rem(100px);
$header-scroll-height: rem(80px);
$expanded-height: rem(119.4px);

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // box-shadow: var(--p-pc-shadow);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;

  &.expanded {
    background: white;
  }
}

.detail {
  height: $header-height;
  background: #fff;
  box-shadow: none;
  border-bottom: 1px solid var(--p-grayD);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.scrolled {
  height: $header-scroll-height;
  background: #fff;
  box-shadow: var(--p-pc-shadow);
  border-bottom: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.expanded {
  height: $header-height;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
