// $header-height: 9.9rem;
$dropdown-height: 9rem;

// PC Nav Style
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 13rem;

  // &.scrolling {
  // }

  // &.active {
  // }
}

.menu {
  display: flex;
  align-items: center;
  gap: 12rem;
  height: 100%;
  border-bottom: 1px solid transparent;

  .menu_item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-weight: 700;
      font-size: 2.2rem;
      line-height: normal;
      cursor: pointer;
      transition:
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        border-bottom-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0;
      }

      &:hover {
        color: var(--p-red);
        font-weight: 700;

        &:after {
          background: var(--p-red);
        }
      }
    }

    &.active {
      .title {
        color: var(--p-red);
        border-bottom-color: var(--p-red);
        font-weight: 700;

        &:after {
          background: var(--p-red);
        }
      }
    }
  }
}

.dropdown_background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 0;
  background: #fff;
  box-shadow: var(--p-pc-shadow);
  overflow: hidden;
  transition:
    height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;

  &.show {
    height: $dropdown-height;
    opacity: 1;
  }
}

.dropdown_content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: max-content;
  max-height: 0;
  margin-top: 1px;
  overflow: hidden;
  opacity: 0;

  &.show {
    max-height: $dropdown-height;
    opacity: 1;
    transition:
      opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  ul {
    display: flex;
    align-items: center;
    gap: 4rem;

    .submenu_item {
      padding: 2rem 0 3rem;
      flex-shrink: 0;

      .sub_tit {
        padding: 1rem 0;
        color: var(--p-pc-nav);
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition:
          color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
          border-bottom-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          color: var(--p-red);
          border-bottom-color: var(--p-red);
          font-weight: 700;
        }

        &::after {
          content: attr(title);
          display: block;
          font-weight: bold;
          height: 0;
          visibility: hidden;
        }

        &::before {
          content: "/";
          color: var(--p-grayD);
          font-size: 1.2rem;
          font-weight: 300;
          position: absolute;
          top: 50%;
          right: -2rem;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }
      &:last-child {
        .subTit {
          &::before {
            content: none;
          }
        }
      }
    }
  }
}
