@import "/src/styles/mixin";

$header-height: rem(100px);
$header-scroll-height: rem(80px);

.search_content {
  width: 100%;
  max-height: 0;
  height: 100vh;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: var(--p-pc-shadow);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  .search_area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(20px);
  }

  p {
    color: #888;
    font-size: rem(18px);
  }

  &.active {
    max-height: rem(220px);
  }

  &.scrolled {
  }
}

.input_wrap {
  display: flex;
  align-items: center;
  width: rem(724px);
}
