@import "/src/styles/mixin";

.ordered_list {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
  color: black;
  font-size: rem(20px);
  font-weight: 500;
  line-height: rem(36px);
  letter-spacing: rem(-0.4px);
  list-style: decimal;
  list-style-position: inside;
}
