@import "/src/styles/mixin";

.card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  clip-path: polygon(10% 0%, 100% 0, 100% 92%, 90% 100%, 0 100%, 0 8%);
  background: var(--p-grayD);
  width: auto;
  height: rem(500px);

  a {
    position: absolute;
    top: rem(1px);
    left: rem(1px);
    width: calc(100% - rem(2px));
    height: calc(100% - rem(2px));
    clip-path: polygon(10% 0%, 100% 0, 100% 92%, 90% 100%, 0 100%, 0 8%);
    background: #fff;

    .image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .box {
        > img {
          vertical-align: top;
          transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }

  .date {
    width: 100%;
    padding: rem(16px) rem(16px) rem(30px) 0;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

    h4 {
      color: #fff;
      font-size: rem(18px);
      font-weight: 500;
      line-height: 1;
      letter-spacing: rem(-0.18px);
      text-align: right;
    }
  }

  .explain {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);

    .back {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: rem(12px);
      max-height: 52%;
      height: 100%;
      padding: rem(32px);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
      transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 0;
      transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .bottom {
    }

    .tag {
      display: flex;
      align-items: center;
      font-size: rem(16px);
      line-height: rem(21px);

      span {
        padding: rem(4px) rem(13px);
        background: #fff;

        &:first-child {
          color: #fff;
          font-weight: 700;
        }
        &:last-child {
          color: #000;
          font-weight: 400;
        }
      }

      .market {
        background: var(--p-red);
      }
      .external {
        background: var(--p-yellow);
      }
    }

    .tit_wrap {
      strong {
        min-height: rem(18px);
        margin-top: rem(12px);
        color: white;
      }

      .tit {
        padding: 0 0;
        margin-top: rem(10px);
        color: #fff;
        font-size: rem(20px);
        font-weight: 500;
        line-height: rem(30.8px);
        letter-spacing: rem(-0.22px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    .hash {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: rem(10px);
      margin-top: auto;

      li {
        display: flex;
        align-items: center;
        gap: rem(4px);

        span {
          color: #fff;
          font-size: rem(18px);
          font-weight: 400;
          line-height: rem(27.36px);

          &::before {
            content: "# ";
            color: #ffffff50;
          }
        }
      }
    }

    .hits {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: rem(6px);
      margin-top: rem(6px);

      span {
        color: var(--p-gray9);
        font-size: rem(16px);
        font-weight: 300;
        line-height: rem(21.6px);
        letter-spacing: rem(-0.18px);
      }
    }
  }

  &:hover {
    a {
      .image {
        .box {
          > img {
            transform: scale(1.2);
          }
        }
      }

      .explain {
        .back {
          max-height: 100%;
          opacity: 1;

          .top {
            margin-bottom: 50%;
            transform: translateY(45%);

            .tit {
              display: block;
              overflow: visible;
              text-overflow: unset;
            }
          }
        }
      }
    }
  }

  &.card_type {
    overflow: hidden;
    background: var(--p-grayD);
    clip-path: polygon(10% 0%, 100% 0, 100% 92%, 90% 100%, 0 100%, 0 8%);
    position: relative;
    height: rem(664px);

    a {
      display: flex;
      flex-direction: column;
      width: calc(100% - rem(4px));
      height: calc(100% - rem(4px));
      position: absolute;
      top: rem(2px);
      left: rem(2px);
      background: #fff;
      clip-path: polygon(10% 0%, 100% 0, 100% 92%, 90% 100%, 0 100%, 0 8%);

      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: rem(362px);
        border-bottom: rem(2px) solid var(--p-grayD);
        background: #fff;

        .box {
          width: 100%;
          height: 100%;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      .date {
        display: none;
        // padding: rem(15px) rem(15px) rem(46px) 0;
        // background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      }

      .explain {
        flex: 1;
        position: unset;
        transform: none;
        width: auto;
        height: auto;

        .back {
          justify-content: flex-start;
          max-height: none;
          background: none;
          transition: none;

          .date {
            display: flex;
            align-items: center;
            gap: rem(8px);
            position: unset;
            width: auto;
            background: none;
            padding: 0;
            font-size: rem(22px);

            strong {
              margin-top: 0;
              color: black;
            }

            h4 {
              color: #000;
              font-size: rem(22px);
              text-align: left;
            }
          }

          .tag {
            span {
              &:last-child {
                border: 1px solid var(--p-grayD);
                padding: rem(3px) rem(13px);
              }
            }
          }

          .tit {
            margin-top: rem(5px);
            color: black;
            font-size: rem(26px);
            font-weight: 500;
            line-height: rem(36.8px);
            letter-spacing: rem(-0.32px);
            transition: none;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .hash {
            margin-top: auto;
            li {
              span {
                color: var(--p-gray6);
                font-size: rem(20px);
                font-weight: 400;
                line-height: rem(30.4px);

                &::before {
                  color: black;
                  font-size: rem(20px);
                  opacity: 0.5;
                }
              }
            }
          }

          .hits {
            padding-right: rem(10px);
            justify-content: flex-end;
            gap: rem(20px);

            span {
              font-size: rem(16px);
              font-weight: 300;
              line-height: 1;
            }

            .hits_card {
              display: flex;
              align-items: center;
              gap: rem(8px);
            }

            .date {
              width: auto;
              margin-left: rem(14px);
              padding: 0;
              position: unset;
              h4 {
                color: var(--p-gray9);
                font-size: rem(16px);
                font-weight: 300;
              }
            }
          }
        }
      }
    }

    &:hover {
      a {
        > img {
          transform: scale(1.2);
        }

        .explain {
          .back {
            max-height: none;
            opacity: 1;
          }
        }
      }
    }
  }

  &.list_type {
    height: auto;
    padding: rem(40px) rem(50px) rem(40px) rem(30px);
    border-top: 1px solid var(--p-grayD);
    clip-path: none;
    background: none;

    a {
      display: flex;
      align-items: center;
      gap: rem(50px);
      position: unset;
      width: auto;
      height: auto;
      clip-path: none;

      .image {
        width: rem(290px);
        height: rem(200px);
        background: var(--p-grayD);
        clip-path: polygon(10% 0%, 100% 0, 100% 88%, 90% 100%, 0 100%, 0 12%);
        position: relative;
        flex-shrink: 0;

        .box {
          position: absolute;
          top: rem(1px);
          left: rem(1px);
          width: calc(100% - rem(2px)) !important;
          height: calc(100% - rem(2px)) !important;
          background: #fff;
          clip-path: polygon(10% 0%, 100% 0, 100% 88%, 90% 100%, 0 100%, 0 12%);

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .date {
          display: none;
        }
      }

      > .date {
        display: none;
      }

      .explain {
        position: unset;
        transform: none;

        .back {
          display: inline-grid;
          grid-template-columns: fit-content(70%) fit-content(30%);
          grid-template-rows: repeat(3, auto);
          grid-auto-flow: column;
          justify-content: space-between;
          padding: 0;
          background: unset;
          transition: none;

          .date {
            display: flex;
            align-items: center;
            gap: rem(8px);
            position: unset;
            width: auto;
            background: none;
            padding: 0;
            font-size: rem(22px);

            strong {
              margin: 0;
              color: black;
            }

            h4 {
              color: #000;
              font-size: rem(22px);
              text-align: left;
            }
          }

          .tag {
            span {
              &:last-child {
                padding: rem(3px) rem(13px);
                border: 1px solid var(--p-grayD);
              }
            }
          }

          .tit {
            color: black;
            font-size: rem(26px);
            line-height: rem(35px);
            transition: none;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .hash {
            margin-top: rem(20px);

            li {
              span {
                color: var(--p-gray6);
                font-size: rem(20px);
                line-height: rem(30.4px);

                &::before {
                  color: black;
                  opacity: 0.5;
                }
              }
            }
          }

          .hits {
            margin-top: 0;
            gap: rem(15px);

            span {
              font-size: rem(18px);
              font-weight: 300;
              line-height: 1;
            }

            .hits_list {
              display: flex;
              align-items: center;
              gap: rem(8px);

              &::before {
                content: "";
                width: 1px;
                height: rem(18px);
                background: var(--p-grayD);
                margin-top: 1px;
                margin-right: rem(7px);
              }
            }

            .date {
              width: auto;
              padding: 0;
              position: unset;
              background: none;

              h4 {
                color: var(--p-gray9);
                font-size: rem(18px);
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .card {
    &.card_type {
      a {
        .explain {
          .back {
            gap: 0;
            .tit {
              font-size: rem(28px);
            }
          }
        }
      }
    }
  }
}
