@import "/src/styles/mixin";

.card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  clip-path: polygon(10% 0%, 100% 0, 100% 92%, 90% 100%, 0 100%, 0 8%);

  a {
    .image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      > img {
        vertical-align: top;
        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  .date {
    width: 100%;
    padding: rem(30px);
    padding-bottom: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, rgb(0 0 0 / 60%), transparent);

    h4 {
      color: #fff;
      font-size: rem(18px);
      font-weight: 500;
      line-height: 1;
      letter-spacing: rem(-0.18px);
      text-align: right;
    }
  }

  .explain {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);

    .back {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: rem(12px);
      max-height: 52%;
      height: 100%;
      padding: rem(40px);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
      transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 0;
      transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .bottom {
    }

    .tag {
      display: flex;
      align-items: center;
      font-size: rem(16px);
      line-height: rem(21px);

      span {
        padding: rem(4px) rem(13px);
        background: #fff;

        &:first-child {
          color: #fff;
          font-weight: 700;
        }
        &:last-child {
          color: #000;
          font-weight: 400;
        }
      }

      .market {
        background: var(--p-red);
      }
      .external {
        background: var(--p-yellow);
      }
    }

    .tit {
      padding: 0 0;
      margin-top: rem(10px);
      color: #fff;
      font-size: rem(20px);
      font-weight: 500;
      line-height: rem(30.8px);
      letter-spacing: rem(-0.22px);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .hash {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: rem(10px);
      margin-top: auto;

      li {
        display: flex;
        align-items: center;
        gap: rem(4px);

        span {
          color: #fff;
          font-size: rem(18px);
          font-weight: 400;
          line-height: rem(27.36px);

          &::before {
            content: "# ";
            color: #ffffff50;
          }
        }
      }
    }

    .hits {
      display: flex;
      align-items: center;
      gap: rem(6px);
      margin-top: rem(6px);

      span {
        color: var(--p-gray9);
        font-size: rem(18px);
        font-weight: 400;
        line-height: rem(21.6px);
        letter-spacing: rem(-0.18px);
      }
    }
  }

  &:hover {
    a {
      .image {
        > img {
          transform: scale(1.2);
        }
      }

      .explain {
        .back {
          max-height: 100%;
          opacity: 1;

          .top {
            margin-bottom: 50%;
            transform: translateY(45%);

            .tit {
              display: inline-block;
              overflow: visible;
              text-overflow: unset;
            }
          }
        }
      }
    }
  }

  &.card_type {
    overflow: hidden;
    background: url("../../../../public/images/bg_cardBox.png") no-repeat center / 100% 100%;
    clip-path: polygon(10% 0%, 100% 0, 100% 92%, 90% 100%, 0 100%, 0 8%);

    a {
      .image {
        width: 100%;
        height: auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      }
      .explain {
        position: unset;
        transform: none;
        width: auto;
        height: auto;

        .back {
          max-height: 47%;
          background: none;
          transition: none;

          .tag {
            span {
              &:last-child {
                border: 1px solid var(--p-grayD);
                padding: rem(3px) rem(13px);
              }
            }
          }

          .tit {
            color: black;
            font-size: rem(26px);
            font-weight: 500;
            line-height: rem(36.8px);
            letter-spacing: rem(-0.32px);
            transition: none;
          }

          .hash {
            margin-top: rem(16px);
            li {
              span {
                color: var(--p-gray6);
                font-size: rem(20px);
                font-weight: 400;
                line-height: rem(30.4px);

                &::before {
                  color: black;
                  font-size: rem(20px);
                  opacity: 0.5;
                }
              }
            }
          }

          .hits {
            .date {
              width: auto;
              margin-left: rem(14px);
              padding: 0;
              position: unset;
              h4 {
                color: var(--p-gray9);
                font-size: rem(18px);
                font-weight: 300;
              }
            }
          }
        }
      }
    }

    &:hover {
      a {
        > img {
          transform: scale(1.2);
        }

        .explain {
          .back {
            max-height: 47%;
            opacity: 1;
          }
        }
      }
    }
  }

  &.list_type {
    padding: rem(40px) rem(50px) rem(40px) rem(30px);
    border-top: 1px solid var(--p-grayD);
    clip-path: none;

    a {
      display: flex;
      align-items: center;
      gap: rem(50px);

      .image {
        width: rem(290px);
        height: rem(200px);
        clip-path: polygon(10% 0%, 100% 0, 100% 88%, 90% 100%, 0 100%, 0 12%);
        position: relative;
        flex-shrink: 0;

        .date {
          display: block;
          width: 100%;
          padding: rem(20px) rem(20px) rem(10px) 0;
          background: linear-gradient(180deg, rgb(0 0 0 / 60%), transparent);
        }
      }

      > .date {
        display: none;
      }

      .explain {
        position: unset;
        transform: none;

        .back {
          display: inline-grid;
          grid-template-columns: fit-content(85%) fit-content(rem(160px));
          grid-template-rows: repeat(3, auto);
          grid-auto-flow: column;
          justify-content: space-between;
          padding: 0;
          background: unset;
          transition: none;

          .tag {
            span {
              &:last-child {
                padding: rem(3px) rem(13px);
                border: 1px solid var(--p-grayD);
              }
            }
          }

          .tit {
            margin-top: rem(30px);
            color: black;
            font-size: rem(26px);
            transition: none;
          }

          .hash {
            margin-top: rem(20px);

            li {
              span {
                color: var(--p-gray6);
                font-size: rem(20px);
                line-height: rem(30.4px);

                &::before {
                  color: black;
                  opacity: 0.5;
                }
              }
            }
          }

          .hits {
            margin-top: 0;
            .date {
              width: auto;
              margin-left: rem(14px);
              padding: 0;
              position: unset;
              background: none;

              h4 {
                color: var(--p-gray9);
                font-size: rem(18px);
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .card {
    &.card_type {
      a {
        .explain {
          .back {
            gap: 0;
            .tit {
              font-size: rem(28px);
            }
          }
        }
      }
    }
  }
}
