@import "/src/styles/mixin";

// 메인 페이지 테이블 스타일
.main_table {
  > div {
    overflow: unset;
  }

  table {
    display: table;
    thead {
      // display: table-header-group;
      display: none;
      tr {
        display: table-row;
        th {
          display: table-cell;
        }
      }
    }
    tbody {
      tr {
        display: table-row;
        border: 0;
        border-top: 1px solid var(--p-grayD);

        td {
          display: table-cell;
          width: auto !important;
          padding: rem(20px);
          border: 0;

          > * {
            font-size: rem(20px);
            font-weight: 400;
            letter-spacing: rem(-0.28px);
          }
        }

        &:last-child {
          border-bottom: 1px solid var(--p-grayD);
        }
      }
    }
  }
}

// 서브 페이지 테이블 스타일
.sub_table {
  > div {
    overflow: unset;
  }

  table {
    display: table;
    thead {
      display: table-header-group;
      background: var(--p-bgA);
      border-color: var(--p-gray6);
      position: unset;

      tr {
        display: table-row;
        th {
          display: table-cell;
          padding: rem(30px) rem(20px);
          border: 0;
          color: var(--p-gray6);
          font-size: rem(20px);
          font-weight: 500;
          letter-spacing: rem(-0.26px);
        }
      }
    }
    tbody {
      tr {
        display: table-row;
        border: 0;
        border-top: 1px solid var(--p-grayD);

        td {
          display: table-cell;
          width: auto !important;
          padding: rem(30px) rem(20px);
          border: 0;

          > * {
            font-size: rem(20px);
            font-weight: 300;
            letter-spacing: rem(-0.28px);
          }
        }

        &:last-child {
          border-bottom: 1px solid var(--p-grayD);
        }
      }
    }
  }
}
