@import "/src/styles/mixin";

.container {
  max-width: 100%;
  overflow-x: hidden; // 스크롤을 숨기고 내부에서 컨트롤
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: rem(32px);
  scroll-snap-align: start;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: rem(60px);
  max-width: rem(1680px);
  margin: 0 auto;
  padding: rem(150px) rem(60px) rem(100px);
  overflow: hidden;

  &.resize {
    gap: rem(30px);
    padding: rem(100px) rem(60px) rem(20px);
  }
}

.h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  color: white;
  font-size: rem(100px);
  font-weight: 300;
  line-height: 95%;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translate(-68%, -50%);
}

.bg_line {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &::before {
    content: "";
    width: rem(250px);
    height: 300%;
    background: rgba(201, 30, 29, 0.2);
    backdrop-filter: blur(50px);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -57%) rotate(45deg);
  }
  &::after {
    content: "";
    width: rem(250px);
    height: 300%;
    background: rgba(167, 43, 42, 0.5);
    backdrop-filter: blur(50px);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(125%, -57%) rotate(45deg);
  }
}

.visual_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10px);
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 1;

  li {
    flex: 1 0 rem(360px);
    padding: rem(70px) rem(40px) rem(70px) rem(60px);
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(rem(50px));
    clip-path: polygon(15% 0%, 100% 0, 100% 89%, 85% 100%, 0 100%, 0 11%);

    div {
      color: #fff;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      h3 {
        font-size: rem(42px);
        font-weight: 500;
        line-height: 120%;
        min-height: rem(100px);

        span {
          font-size: rem(32px);
          font-weight: 300;
        }
      }

      p {
        margin-top: rem(40px);
        font-size: rem(28px);
        font-weight: 500;
        line-height: 140%;
      }

      img {
        margin-top: rem(100px);
      }
    }
  }
}

.search {
  max-width: rem(1680px);
  width: 100%;
  padding: 0 rem(60px);
  position: absolute;
  top: calc(100% - rem(112px));
  z-index: 2;
  overflow: hidden;

  .search_area {
    display: flex;
    flex-direction: column;
    height: rem(112px);
    padding: 0 rem(60px);
    position: relative;
    transition: height 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 10px 30px 0px rgba(170, 115, 115, 0.1);

    &.topbottom {
      background: #fff;
      background:
        linear-gradient(135deg, transparent rem(20px), #fff 0) top left,
        linear-gradient(-45deg, transparent rem(20px), #fff 0) bottom right;
      background-size: 100% 51%;
      background-repeat: no-repeat;
    }

    .search_tit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(40px) 0 rem(34px);
      line-height: 1;
      position: relative;
      z-index: 2;
      border-bottom: 1px solid transparent;
      cursor: pointer;

      span {
        color: #000;
        font-size: rem(26px);
        font-weight: 700;
      }

      img {
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .search_con {
      width: 100%;
      padding: rem(50px) 0;

      > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20px);

        > li {
          display: flex;
          align-items: center;
          gap: rem(20px);
          width: 100%;

          > span {
            color: var(--p-gray6);
            font-size: rem(18px);
            font-weight: 700;
            min-width: rem(100px);
          }

          .input_wrap {
            display: flex;
            align-items: center;
            width: 100%;
          }

          .tab_button {
            button {
              font-size: rem(17px);
            }
            .active {
              border-color: var(--p-button-border);
              background: var(--p-pc-nav);
              color: #fff;
            }
          }

          .hashtag {
            display: flex;
            flex-wrap: wrap;
            column-gap: rem(20px);
            row-gap: rem(12px);
            padding: rem(20px) 0;

            li {
              display: flex;
              span {
                color: var(--p-grayA);
                font-size: rem(20px);
                font-weight: 400;
                line-height: 1;
                cursor: default;

                &::before {
                  content: "# ";
                }

                &:hover {
                  color: var(--p-red);
                }
              }
            }
          }
        }
      }
    }
  }

  &.open {
    .search_area {
      height: rem(459px);
      .search_tit {
        border-bottom-color: var(--p-grayD);

        img {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.content_area {
  display: flex;
  flex-direction: column;
  gap: rem(60px);
  width: 100%;

  .content_title {
    display: flex;
    align-items: center;

    h2 {
      color: #000;
      font-size: rem(46px);
      font-weight: 700;
      line-height: 1;
    }

    ul {
      display: flex;
      align-items: flex-end;
      gap: rem(60px);
      margin-left: rem(142px);
      border-bottom: 1px solid var(--p-grayD);
      line-height: 1;

      li {
        button {
          padding-bottom: rem(20px);
          color: var(--p-gray9);
          font-size: rem(20px);
          font-weight: 500;
          line-height: 1;
          position: relative;
          vertical-align: top;
          transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

          &.active {
            color: var(--p-red);
            font-weight: 700;

            &::after {
              content: "";
              width: 100%;
              height: 2px;
              background: var(--p-red);
              position: absolute;
              bottom: -1px;
              left: 0;
            }
          }
        }
      }
    }

    .more {
      margin-left: rem(40px);

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(10px);
        color: #000;
        font-size: rem(18px);
        font-weight: 400;
        letter-spacing: rem(-0.18px);
        line-height: 1;

        &::after {
          content: "";
          width: rem(9px);
          height: rem(9px);
          border-right: 1px solid #000;
          border-bottom: 1px solid #000;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .content_main {
    position: relative;
  }

  .table {
    .table_more {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(20px);
      border-bottom: 1px solid var(--p-grayD);
      background: var(--p-bg);

      button {
        display: flex;
        align-items: center;
        gap: rem(20px);

        p {
          color: #000;
          font-size: rem(18px);
          font-weight: 400;
          letter-spacing: rem(-0.24px);

          strong {
            color: var(--p-red);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (min-width: 2560px) {
  .bg_line {
    &::before {
      content: "";
      width: rem(250px);
      height: 300%;
      background: rgba(201, 30, 29, 0.2);
      backdrop-filter: blur(50px);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -57%) rotate(45deg);
    }
    &::after {
      content: "";
      width: rem(250px);
      height: 300%;
      background: rgba(167, 43, 42, 0.5);
      backdrop-filter: blur(50px);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(42%, -57%) rotate(45deg);
    }
  }
}
