@import "/src/styles/mixin";

.swiper_container {
  position: relative;
  width: 100%;
}

.swiper {
  &.first {
    width: 100vw;
    height: 100vh;
    max-height: 1080px;

    .swiper-wrapper {
      .swiper-slide {
      }
    }

    .swiper-pagination {
      top: unset;
      left: 50%;
      bottom: 20%;
      width: rem(400px);
      height: 1px;
      background: #ffffff40;
      transform: translateX(-183%);

      .swiper-pagination-progressbar-fill {
        background: #fff;
      }
    }
  }

  &.card {
    .swiper-wrapper {
      .swiper-slide {
        height: auto;

        &:nth-child(odd) {
          margin-top: rem(60px);
        }
        &:nth-child(even) {
          margin-bottom: rem(60px);
        }
      }
    }
  }
}

.custom_pagination {
  display: flex;
  align-items: center;
  gap: rem(20px);
  position: absolute;
  bottom: 20%;
  left: 50%;
  z-index: 2;
  transform: translate(-132%, 50%);

  .current {
    color: #fff;
    font-size: rem(20px);
    font-weight: 500;
  }
  .separator {
    color: #fff;
    font-size: rem(18px);
    font-weight: 300;
  }
  .total {
    color: #fff;
    font-size: rem(20px);
    font-weight: 300;
  }

  .visual_prev_button,
  .visual_next_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(20px);
    height: rem(20px);
    font-size: 0;

    &::before {
      content: "";
      width: rem(15px);
      height: rem(15px);
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }
  }
  .visual_prev_button {
    margin-right: rem(20px);
    transform: rotate(45deg);
  }
  .visual_next_button {
    margin-left: rem(20px);
    transform: rotate(-135deg);
  }
}

.swiper_custom_list {
  display: flex;
  align-items: center;
  gap: rem(10px);
  width: auto;
  padding: rem(10px) 0;
  position: absolute;
  bottom: unset;
  left: unset;
  top: rem(-106px);
  right: 0;
  color: var(--p-gray9);
  font-size: rem(17px);
  font-weight: 300;
  line-height: 1;

  span {
    font-size: rem(18px);
  }

  .swiper-pagination-current {
    color: #000;
    font-weight: 500;
  }
}

.custom_prev_button,
.custom_next_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  background-color: var(--p-red);
  font-size: 0;

  &::before {
    content: "";
    width: rem(15px);
    height: rem(15px);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  &.swiper-button-disabled {
    background-color: var(--p-pc-btn);
  }
}

.custom_prev_button {
  position: absolute;
  top: 50%;
  left: rem(-20px);
  transform: translateY(-50%);
  z-index: 2;

  &::before {
    margin-left: rem(8px);
    transform: rotate(45deg);
  }
}
.custom_next_button {
  position: absolute;
  top: 50%;
  right: rem(-20px);
  transform: translateY(-50%);
  z-index: 2;

  &::before {
    margin-right: rem(8px);
    transform: rotate(-135deg);
  }
}
