@import "/src/styles/mixin";

.text {
  color: black;
  font-size: rem(20px);
  font-weight: 500;
  line-height: rem(36px);
  letter-spacing: rem(-0.4px);
}
.text_light {
  color: black;
  font-size: rem(20px);
  font-weight: 300;
  line-height: rem(36px);
  letter-spacing: rem(-0.4px);
  white-space: pre-line;
}
